/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.strict_container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.box_container {
    width: 93%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.two_columns .col_sx, .col_dx {
    width: 50%;
}

.three_columns .col_sx, .col_dx {
    width: 50%;
}

.four_columns .col {
    width: 25%;
}

.orange_button {
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    background-color: #fe7759;
    border-radius: 5px;
    display: inline-block;
}

/* tutti i p nella main */
main p {
    line-height: 25px;
}

.blue_text {
    color: #33475b;
}

.white_text {
    color: white;
}

.bg_lightblue {
    background-color: #f4f9fd;
}

.bg_darkblue {
background-color: #32495b;
}

h2 {
    font-size: 33px;
}

.fa-check-circle {
    color: #fe7759;
    margin-right: 15px;
}

/* HEADER */

nav .top_nav {
    height: 90px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #33475b;
}

header .menu {
    list-style-type: none;
}

header .menu ul {
    line-height: 90px;
}

header .menu li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

header .menu .col a {
    text-decoration: none;
}

header .menu .language_choise a {
    border-right: 1px solid #33475b;
}

header .menu .top_nav .fa-chevron-down {
    margin-right: 20px;
}

header .menu .col_dx {
    text-align: right;
}

header .menu .fa-search {
    color:#00aac2;
}

header .menu .login {
    background-color: white;
    color: #fe7759;
    border: 1px solid #fe7759;
    padding: 10px;
    border-radius: 5px;
}

header .menu .orange_button {
    color: white;
    padding: 12px 10px;
    display: inline;
}

nav .bottom_nav {
    height: 90px;
}

header .menu .logo {
    height: 100%;
    vertical-align: middle;
}

header .menu .bottom_nav .fa-chevron-down {
    margin-left: 10px;
}

header .banner {
    width: 100%;
    height: 600px;
    background-color: #fff2ee;
    background-image: url(../img/jumbotron.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 100% 13%;
}

header .banner .banner_title{
    width: 50%;
    position: absolute;
    left: 0;
    top: 40px;
}

header .banner .banner_title h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

header .banner .banner_title .orange_button {
    margin: 30px 0;
}


.colored_row {
    height: 100px;
    background-color: #afebe4;
    border-top: 5px solid #33475b;
    border-bottom: 5px solid #33475b;
}

/* MAIN */

main .advantages {
    padding-top: 50px;
}

.advantages img {
    width: 30%;
}

main h2 {
    margin-bottom: 30px;
}

main .services {
    padding-top: 50px;
}

/* tutte le img nella sezione risultati */
main .services .col img {
    height: 110px;
    width: auto;
    display: block;
    margin: 0 auto 25px;
}

/* tutti gli h3 nella sezione risultati */
.services h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

/* tutti gli h4 nella sezione risultati */
.services h4 {
    display: inline-block;
    font-size: 18px;
    margin: 30px 0;
}

.services .top_row {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* da mettere insieme*/
    padding: 70px 0;
}

.services .bottom_row .col {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* da mettere insieme*/
    text-align: center;
    padding: 20px;
}

.services .top_row .col_sx {
    width: 30%;
    text-align: center;
}

.services .top_row .col_dx {
    width: 70%;
}

.services .bottom_row {
    padding: 50px 0;
}

.services .top_row hr {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    margin-left: 10%;
}

.services .bottom_row hr {
    margin: 70px 0 0;
}

main .three_columns .col {
    width: 30%;
}

main .three_columns .col_cx {
    margin: 0 5%;
}

main .top_row .col_dx {
    padding-right: 10%;
}

main .check {
    list-style-type: none;
}

.three_columns ul {
    margin-bottom: 50px;
}

.two_columns .check li {
    display: inline-block;
    margin-right: 20px;
}

.three_columns .check li {
    text-align: left;
}

main .results {
    background-image: linear-gradient(to right, #00acb6 , #00baa9);
    padding: 50px 0;
    text-align: center;
}

main .results .col {
    text-align: center;
    border-right: 1.5px solid white;
    padding: 20px 0;
}

main .results .nmb_table {
    margin: 50px 0;
}

/* chidere ai tutor come unirli */
.bottom_numbers_tbl .col:last-child {
    border-right: none;
}

/* chidere ai tutor come unirli */
.top_numbers_tbl .col:last-child {
    border-right: none;
}

/* chidere ai tutor */
.bottom_numbers_tbl .col img:last-child {
    height: 25px;
    width: auto;
}

main .results .top_numbers_tbl .col {
    border-bottom: 1.5px solid white;
}

main .results img {
    height: 35px;
    width: auto;
}

main .results .nmb {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

/* TEST */
main .parterns {
    height: 270px;
    padding: 60px 10% 0;
}

/* TEST */
main .parterns .container {
    height: 100%;
    border: 2px solid red;
}

/* TEST */
main .start {
    height: 500px;
    padding: 50px 0 50px;
}

/* TEST */
main .start .container {
    height: 100%;
    border: 2px solid red;
}

/* TEST */
footer {
    height: 620px;
    padding: 40px 0 40px;
}

/* TEST */
footer .container {
    height: 100%;
    border: 2px solid red;
}