/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
}

header .menu {
    list-style-type: none;
}

header .menu ul {
    line-height: 90px;
}

header .menu li {
    display: inline-block;
    margin: 0 10px;
}

header .menu .col a {
    text-decoration: none;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.two_columns .col_sx, .col_dx {
    width: 50%;
}

.orange_button {
    padding: 20px 30px;
    color: white;
    background-color: rgb(254, 119, 89);
    border-radius: 5px;
}

/* HEADER */

nav .top_nav {
    height: 90px;
    background-color: rgb(243, 249, 253);
    border-bottom: 1px solid rgb(51, 71, 91);
}

header .menu .col_sx a {
    color: rgb(51, 71, 91);
}

header .menu .language_choise a {
    border-right: 1px solid rgb(51, 71, 91);
}

header .menu .top_nav .fa-chevron-down {
    margin-right: 20px;
}

header .menu .col_dx {
    text-align: right;
}

header .menu .fa-search {
    color:rgb(0, 166, 190)
}

header .menu .login {
    padding: 10px;
    color: rgb(254, 119, 89);
    border: 1px solid rgb(254, 119, 89);
    border-radius: 5px;
}

header .menu .orange_button {
    padding: 12px 10px;
}

nav .bottom_nav {
    height: 90px;
}

header .menu .logo {
    height: 100%;
}

header .menu .bottom_nav .fa-chevron-down {
    margin-left: 10px;
}

header .banner {
    width: 100%;
    height: 600px;
    background-color: rgb(254, 247, 239);
    background-image: url(../img/jumbotron.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 100% 13%;
}

.colored_row {
    height: 100px;
    background-color: rgb(175, 235, 228);
    border-top: 5px solid rgb(51, 71, 91);
    border-bottom: 5px solid rgb(51, 71, 91);
}

/* MAIN */


/* FOOTER */